.users_s1_header
  %h1
    %a{href: '#'}
      = image_tag 'fmarket_logo_red.svg', alt: "Fmarket", class: 'header-logo'

  %nav.progress-bar-navi
    .header-progress-bar-wrap 
      %p#progress-bar_step1 会員情報 
      %span.progress-radius.first#step1

    .header-progress-bar-wrap
      %p#progress-bar_step2 電話番号認証
      %span.progress_radius#step2

    .header-progress-bar-wrap
      %p#progress-bar_step3 お届け先住所入力
      %span.progress_radius#step3

    .header-progress-bar-wrap
      %p#progress-bar_step4 支払い方法
      %span.progress_radius#step4

    .header-progress-bar-wrap
      %p#progress-bar_done 完了
      %span.progress_radius.last#done

