= render "user_header"
.single-main
  %p.register-head 会員登録完了
  .register-form
    .form
      .end
        %p ありがとうございます。
        %p 会員登録が完了しました。
    .form
      .next-btn
        %button{type:"submit",class:"btn-red"}
          メルカリをはじめる 
= render 'user_footer'


