= render "user_header"
.single-main
  %p.register-head 会員登録完了
  .register-form
    .form
      .end
        %p ありがとうございます。
        %p 会員登録が完了しました。
    .form
      .next-btn
<<<<<<< HEAD
        %button{type:"submit",class:"btn-red"}
          メルカリをはじめる 
= render 'user_footer'
=======
        = link_to  root_path ,class: "btn-red" do
          %input{type:"submit",class:"btn-red-submit", value: "メルカリを始める"}
.footer
>>>>>>> 5caa3c5e31c6f8dd040157987968e5bf71d152d1
