<<<<<<< HEAD
= link_to 'メールで新規登録', step1_signup_index_path, method: :get,  class: 'signup__btn'
=======
-# = link_to 'メールで新規登録', step1_signup_index_path, method: :get,  class: 'signup__btn'
>>>>>>> fb300a234f67bade5590c558fea52282e5ace1de


