%h1 ステップ２ 
= form_for @user, url: step3_signup_index_path, method: :post, html: {class: 'second-main__box'} do |f|
  = f.text_field :phone_number, placeholder: '例) 123456789'
  = f.submit 'Send', class: 'form__submit'