
<div class="template__container">
    <div class="template__container__heading">
      <%= link_to " " do %>
        <ul>
          <li><input type="button" value="" id=""></li>
          <li><input type="button" value="" id=""></li>
        </ul>
      <% end %>
    </div>  <%# mypage-information__container__headingの終わり%>

    <div class="template__container__contents" id="">
      <div class="template__container__contents__content">
        <%= image_tag "", width:"48px", height:"48px" %>
        <div class="template__container__contents__content__detail">
          <p></p>  <%# likestableができたら、誰が（複数）何（商品）にいいねしました!!!を変数で記入%>
          <time class="template-time">
            <i class="fa fa-clock" aria-hidden="true"></i>
            <p></p>  <%# <%= user.created_at.strftime('%d %H') %>
          </time>
        </div>
         <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>  <%# mypage-information__container__contents__content終わり%>

      <div class="template__container__contents__content__go">
        <%= link_to  do %>
          <input type="button" value="" id="">
        <% end %>
      </div>  <%# mypage-information__container__contents__content__go終わり%>
    </div>  <%# mypage-information__container__contents終わり%>
  </div>  <%# mypage-information__container終わり%>