.new-page {
  user-select: none;
  width: 100vw;
  height: 100%;
  background-color: $light_gray;
  padding-bottom: 150px;
  &__main {
    height: 100%;
    margin: 15px 26% 0;
    &-forms {
      width: 100%;
      height: 100%;
      background-color: $white;
      &__header {
        height: 120px;
        border-bottom: 1px solid $light_gray;
        h1 {
          text-align: center;
          line-height: 120px;
          font-size: 22px;
          color: #333;
        }
      }
      .new-page__main__form {
        width: 100%;
        height: 250px;
        border-bottom: 1px solid $light_gray;
        color: #333;
        padding: 40px 35px 20px;
        h1 {
          font-weight: bold;
          display: inline-block;
          margin-bottom: 5px;
          font-size: 16px;
        }
        span {
          background-color: $red;
          color: $white;
          padding: 4px 5px;
          font-size: 12px;
          font-weight: bold;
          border-radius: 3px;
          margin-left: 10px;
          vertical-align: top;
        }
        p {
          font-size: 14px;
          margin-bottom: 10px;
        }
        input {
          display: block;
          width: 85%;
          height: 45px;
          font-size: 16px;
          padding: 0 15px;
          border-radius: 3px;
          border: 1px solid $gray;
          margin-bottom: 35px;
        }
        input:focus {
          outline: none;
          border-color: $light_blue;
        }
        textarea {
          display: block;
          width: 85%;
          height: 45%;
          font-size: 16px;
          padding: 10px 15px;
          border-radius: 3px;
          border: 1px solid $gray;
        }
        textarea:focus {
          outline: none;
          border-color: $light_blue;
        }
        .image_box {
          width: 90%;
          height: 150px;
          background-color: $light_gray;
          border: 1px dashed $gray;
          h3 {
            font-weight: normal;
            color: #000;
            text-align: center;
            position: relative;
            top: 55px;
            font-size: 14px;
          }
        } 
        .image_box:hover {
          cursor: pointer;
        }
        .form-left {
          width: 32%;
          height: 100%;
          float: left;
          p {
            color: gray;
            font-weight: bold;
            font-size: 12px;
            display: inline-block;
          }
          i {
            color: $light_blue;
          }
          i:hover {
            opacity: 0.8;
          }
        }
        .form-right {
          width: 68%;
          height: 100%;
          float: right;
          select {
            display: block;
            z-index: 2;
            height: 45px;
            width: 83%;
            border-radius: 4px;
            background: 0;
            border: 1px solid $gray;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 30px;
            padding: 0 20px;
          }
          select:focus {
            outline: none;
            border-color: $light_blue;
          }
        }
      }
      .item__form {
        height: 320px;
      }
      .item-details {
        height: 200px;
      }
      .about-postage {
        height: 400px;
      }
      .about-price {
        height: 280px;
        .form-right {
          &-top {
            margin: 20px 0 0;
            width: 82%;
            border-bottom: 1px solid $gray;
            padding-bottom: 30px;
            p {
              display: inline-block;
              position: relative;
              left: 120px;
            }
            input {
              width: 30%;
              float: right;
              text-align: right;
              position: relative;
              top: -20px;
            }
          }
          &-middle {
            padding: 30px 0;
            border-bottom: 1px solid $gray;
            width: 82%;
            p {
              display: inline-block;
            }
            h2 {
              float: right;
            }
          }
          &-bottom {
            padding: 30px 0;
            width: 82%;
            h1 {
              display: inline-block;
            }
            p {
              float: right;
              font-weight: bold;
            }
          }
        }
      }
      .sell-item {
        font-size: 14px;
        width: 100%;
        height: 280px;
        a {
          text-decoration: none;
          color: $light_blue;
        }
        p > a:hover {
          text-decoration: underline;
        }
        p {
          display: inline-block;
          margin-bottom: 0;
          font-size: 14px;
        }
        .line-4 {
          display: block;
        }
        .line-2 {
          display: block;
        }
        .sell-btn {
          display: block;
          margin: 40px 0 20px;
          color: $white;
          background-color: $red;
          padding: 15px 0;
          width: 90%;
          text-align: center;
        }
        .back-btn {
          width: 40%;
          padding: 15px 0;
          background-color: #aaa;
          color: $white;
          display: block;
          text-align: center;
          margin: 30px 25%;
        }
        .back-btn:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

