.new-page {
  user-select: none;
  width: 100vw;
  height: 280vh;
  background-color: $light_gray;
  padding-bottom: 150px;
  &__main {
    height: 100%;
    margin: 15px 26% 0;
    &-forms {
      width: 100%;
      height: 100%;
      background-color: $white;
      &__header {
        height: 120px;
        border-bottom: 1px solid $light_gray;
        h1 {
          text-align: center;
          line-height: 120px;
          font-size: 22px;
          color: #333;
        }
      }
      .new-page__main__form {
        width: 100%;
        height: 300px;
        border-bottom: 1px solid $light_gray;
        color: #333;
        padding: 40px 35px 20px;
        h1 {
          font-weight: bold;
          display: inline-block;
          margin-bottom: 5px;
          font-size: 16px;
        }
        span {
          background-color: $red;
          color: $white;
          padding: 4px 5px;
          font-size: 12px;
          font-weight: bold;
          border-radius: 3px;
          margin-left: 10px;
          vertical-align: top;
        }
        p {
          font-size: 14px;
          margin-bottom: 10px;
        }
        .item-name__form {
          display: block;
          width: 100%;
          height: 45px;
          font-size: 16px;
          padding: 0 15px;
          border-radius: 3px;
          border: 1px solid $gray;
          margin-bottom: 35px;
        }
        .item-name__form:focus {
          outline: none;
          border-color: $light_blue;
        }
        .item-description__form {
          display: block;
          width: 100%;
          height: 45%;
          font-size: 16px;
          padding: 10px 15px;
          border-radius: 3px;
          border: 1px solid $gray;
        }
        .item-description__form:focus {
          outline: none;
          border-color: $light_blue;
        }
        .image_box {
          width: 100%;
          height: 150px;
          background-color: $light_gray;
          border: 1px dashed $gray;
          position: relative;
          .image-placeholder{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            text-align:center;
          h3 {
            font-weight: 600;
          }
            
          }
          .form__mask__image{ 
            width:100%;
            height:148px;
            display: inline-block;
            input{
              width:100%;
              height: 100%;
              visibility: hidden;
              &:focus {
                outline: none;
                border:1px solid $light_blue;
              }
            }
          }
        }
        .image_box:hover {
          cursor: pointer;
        }
        .form-left {
          width: 32%;
          height: 100%;
          float: left;
          p {
            color: gray;
            font-weight: bold;
            font-size: 12px;
            display: inline-block;
          }
          i {
            color: $light_blue;
          }
          i:hover {
            opacity: 0.8;
          }
        }
        .form-right {
          width: 68%;
          height: 100%;
          float: right;
          .select {
            display: block;
            z-index: 2;
            height: 45px;
            width: 100%;
            border-radius: 4px;
            background: 0;
            border: 1px solid $gray;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 30px;
            padding: 0 20px;
          }
          select {
            display: block;
            z-index: 2;
            height: 45px;
            width: 100%;
            border-radius: 4px;
            background: 0;
            border: 1px solid $gray;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 30px;
            padding: 0 20px;
          }
          .select:focus {
            outline: none;
            border-color: $light_blue;
          }
          select:focus {
            outline: none;
            border-color: $light_blue;
          }
        }
      }
      .item__form {
        height: 320px;
      }
      .item-details {
        height: 260px;
      }
      .about-postage {
        height: 460px;
      }
      .about-price {
        height: 300px;
        .form-right {
          &-top {
            margin: 20px 0 0;
            width: 100%;
            border-bottom: 1px solid $gray;
            padding-bottom: 20px;
            p {
              display: inline-block;
              position: relative;
              left: 180px;
            }
            .input-price {
              display: block;
              width: 30%;
              padding: 20px 0;
              float: right;
              text-align: right;
              position: relative;
              border: 1px solid $gray;
              padding: 15px 0px;
              top: -5px;
              font-size: 16px;
            }
            .input-price:focus {
              outline: none;
              border-color: $light_blue;
            }
          }
          &-middle {
            padding: 30px 0;
            border-bottom: 1px solid $gray;
            width: 100%;
            p {
              display: inline-block;
            }
            h2 {
              float: right;
            }
          }
          &-bottom {
            padding: 20px 0;
            width: 100%;
            h1 {
              display: inline-block;
            }
            p {
              float: right;
              font-weight: bold;
            }
          }
        }
      }
      .sell-item {
        font-size: 14px;
        width: 100%;
        height: 320px;
        a {
          text-decoration: none;
          color: $light_blue;
        }
        p > a:hover {
          text-decoration: underline;
        }
        p {
          display: inline-block;
          margin-bottom: 0;
          font-size: 14px;
        }
        .line-4 {
          display: block;
        }
        .line-2 {
          display: block;
        }
        .sell-btn {
          display: block;
          margin: 40px 0 20px;
          color: $white;
          background-color: $red;
          padding: 15px 0;
          width: 100%;
          text-align: center;
        }
        .back-btn {
          width: 40%;
          padding: 15px 0;
          background-color: #aaa;
          color: $white;
          display: block;
          text-align: center;
          margin: 30px 30%;
        }
        .back-btn:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

