
<div class="mypage-information__container__contents" id="mypage-content">
  
  <div class="mypage-information__container__contents__content">
    <%= image_tag "sample1.jpg", width:"48px", height:"48px" %>
    <div class="mypage-information__container__contents__content__detail">
      <p>いいねしました。</p>  <%# likestableができたら、誰が（複数）何（商品）にいいねしました!!!を変数で記入%>
      <time class="mypage-time">
        <i class="fa fa-clock" aria-hidden="true"></i>
        <p>22時間</p>  <%# <%= user.created_at.strftime('%d %H') %>
      </time>
    </div>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  
</div>