- case params.values_at :controller, :action

- when ['users', 'show']
  - breadcrumb :users

- when ['users', 'profile']
  - breadcrumb :profile

- when ['users', 'userinfo']
  - breadcrumb :userinfo

- when ['users', 'logout']
  - breadcrumb :logout_user

- when ['items', 'new']
  - breadcrumb :items_new

- when ['users', 'cardlist']
  - breadcrumb :cardlist
  
= breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "