.main {
  width: 100vw;
  height: 100%;
  
  .bg__header {
    background-color: $white;
    .main__header {
      height: 150px;
      margin: 10px 15%;
      &-text {
        height: 60%;
        text-align: center;
        h1 {
          font-size: 32px;
          color: #333;
          line-height: 120px;
        }
      }
      &-lists {
        height: 40%;
        ul {
          display: flex;
          margin: 10px auto;
          position: relative;
          left: 20%;
          li {
            margin-left: 15px;
            a {
              text-decoration: none;
              color: #333;
              background-color: $light_gray;
              padding: 10px 15px;
              font-weight: bold;
              border-radius: 15px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .bg__contents {
    background-color: $light_gray;
    .main__contents {
      height: calc(100% - 150px);
      margin: 10px 10%;
      &-text {
        font-size: 26px;
        padding: 50px 0 15px;
        display: flex;
        .view__content {
          display: flex;
          text-decoration: none;
          color: $light_blue;
          font-size: 16px;
          font-weight: bold;
          position: relative;
          top: 10px;
          left: 75%;
          .fas {
            position: relative;
            top: 3px;
            margin-left: 3px;
          }
        }
      }
      &-lists {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 30px;
        .main__content {
          width: 18%;
          height: 250px;
          margin: 10px;
          background-color: $white;
          box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.6);
          .content__anchor {
            display: block;
            width:100%;
            height:100%;
            text-decoration: none;
            .content-above {
              width: 100%;
              height: 75%;
              img {
                z-index: 1;
                width: 100%;
                height: 100%;
              }
              span {
                z-index: 2;
                position: relative;
                top: -40px;
                color: $white;
                background: rgba(0, 0, 0, 0.4);
                padding: 5px 10px;
                font-size: 16px;
                border-radius: 0 25% 25% 0
              }
            }
            .content-below {
              overflow: hidden;
              height: 22%;
              text-overflow: ellipsis;
              p {
                color: #333;
                width:90%;
                height: 100%;
                margin: 10px auto;
                font-size: 14px;
              }
            }
          }
          .content__anchor:hover {
            border: 1px solid $light_blue;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}