.top-page__header
  .top-page__header-above
    %img{src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", alt:"Mercari", class: "top-header-image"}
    %input{tepe: 'text', placeholder: '何かお探しですか?', class: 'search-box'}
  .top-page__header-below
    %ul.search__lists
      %li.search__list-right
        %a{href: '#'}
          
          カテゴリーから探す
      %li.search__list-left
        %a{href: '#'}
          
          ブランドから探す
