header {
  width: 100vw;
  height: 100px;
  box-shadow: 0 0 5px;
  .show-page__header {
    margin: 0 auto;
    padding: 10px 15% 0;
    height: 100%;
    &-above {
      height: 45%;
      display: flex;
      position: relative;
      a {
        float: left;
        width: 15%;
        height: 100%;
      }
      .search-box {
        width: 83%;
        height: 90%;
        background-color: $light_gray;
        margin-left: 3%;
        padding: 0 10px;
        border-radius: 5px;
        font-size: 16px;
      }
      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
      }
      i:hover {
        cursor: pointer;
      }
    }
    &-below {
      position: relative;
      height: 50%;
      display: flex;
      margin: 10px 10px 10px 0;
      &-left {
        .search__lists {
          display: flex;
          font-size: 14px;
          font-weight: bold;
          .search__list-right {
            a {
              text-decoration: none;
              color: #000;
              margin-right: 20px;
            }
            a:hover {
              color: $skyblue;
            }
            i {
              color: $red;
            }
          }
          .search__list-left {
            float: right;
            a {
              text-decoration: none;
              color: #000;
              font-size: bold;
            }
            a:hover {
              color: $skyblue;
            }
            i {
              color: $red;
            }
          }
        }
      }
      &-right {
        display: flex;
        position: absolute;
        top: -3px;
        right: -25px;
        a {
          height: 50%;
          text-decoration: none;
          font-size: 14px;
          color: $white;
          display: block;
          padding: 5px  10px 0;
          border-radius: 5px;
          color: #333;
          margin: 0 5px;
          i {
            color: $gray;
            font-size: 20px;
            vertical-align: top;
            margin-right: 3px;
          }
        }
        a:hover {
          color: $light_blue;
          i {
            color: $light_blue;
          }
        }
      }
    }
  }
}

// .item-show-page {
//   width: 100vw;
//   height: 100%;
//   &--background {
//     background-color: $light_gray;

//   }
// }