%header
  .top-page__header
    .top-page__header-above
      = link_to root_path do
        = image_tag asset_path("fmarket_logo_red.svg"), class: 'header-logo'
      %input{tepe: 'text', placeholder: '何かお探しですか?', class: 'search-box'} 
      %i.fas.fa-search
    .top-page__header-below
      .top-page__header-below-left
        .search__lists
          .search__list-right
            %a{href: '#'}
              %i.fas.fa-list
              カテゴリーから探す
          .search__list-left
            %a{href: '#'}
              %i.fas.fa-tags
              ブランドから探す
      .top-page__header-below-right
        = link_to '新規会員登録', signup_index_path, method: :get, class: 'sign-up-btn'
        = link_to 'ログイン', new_user_session_path, class: 'sign-in-btn'
